/* variables.scss */

.nav-links {
  display: flex;
  gap: 46px;
  background-color: transparent;  /* Прозрачный фон */
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Изначально белый цвет текста для светлой темы */
  &.dark-theme {
    a {
      color: white;  /* Белый цвет текста для тёмной темы */
    }
  }

  /* Для светлой темы (по умолчанию или при прокрутке) */
  &.light-theme {
    a {
      color: #121215;  /* Чёрный цвет текста для светлой темы */
    }
  }

  /* Стили для ховера на контейнере */
  a {
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      scale: 1.1; /* Увеличение размера при hover */
    }
  }
}
